<h2>Modifier une tache</h2>

<div class="spinner-border" *ngIf="!task"></div>

<form (ngSubmit)="editTask(form)" #form="ngForm" [class.was-validated]="formSubmitted" *ngIf="task">

    <div class="form-group">
        <label>Nom</label>
        <input class="form-control" name="name"
               [(ngModel)]="task.name" required #nameInput="ngModel">
        <div class="invalid-feedback" *ngIf="nameInput.invalid">
            Le nom est obligatoire
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control"
                  name="description" [(ngModel)]="task.description"></textarea>
    </div>

    <button class="btn btn-primary">
        Sauver
    </button>
    <button class="btn btn-danger" type="button" (click)="deleteTask()">
        Supprimer
    </button>

</form>
