<div class="container">
  <header>
    <div class="row mt-5">
      <div class="col">
        <h1>MyDevProject</h1>
      </div>
      <nav class="col">
          <ul class="nav justify-content-end">
              <li class="nav-item mr-3">
                  <a class="btn btn-outline-info" role="button" routerLink="/home" >Mes projets</a>
              </li>
              <li class="nav-item mr-3">
                  <a class="btn btn-outline-primary" role="button" routerLink="/task-add">Ajouter</a>
              </li>
              <li class="nav-item mr-3">
                <a class="btn btn-outline-danger" routerLink="/task-remove">Supprimer</a>
              </li>
              <li class="nav-item mr-3">
                  <a class="btn btn-outline-success" routerLink="/news">Notes</a>
              </li>
          </ul>
      </nav>
    </div>
  </header>



    <router-outlet></router-outlet>

</div>
<!-- affiche plein écran du chargement -->
<div class="loading" *ngIf="loading">
    <div class="backdrop"></div>
    <div class="spinner-border"></div>
</div>
