<div class="container">

    <header>
        <h1 class="mb-5">MyDevProject</h1>
    </header>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn btn-outline-info" role="button" routerLink="/home" >Mes projets</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" role="button" routerLink="/task-add">Ajouter</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-danger" routerLink="/task-remove">Supprimer</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" routerLink="/news">Notes</a>
            </li>
        </ul>
    </nav>
    <hr>

    <router-outlet></router-outlet>

</div>
<!-- affiche plein écran du chargement -->
<div class="loading" *ngIf="loading">
    <div class="backdrop"></div>
    <div class="spinner-border"></div>
</div>
