<h2 class="mb-4 mt-4">Ajouter une projet</h2>
<!-- formalaire d'jout d'une têche -->
<form (ngSubmit)="addTask(form)" #form="ngForm" [class.was-validated]="formSubmitted">

  <!-- disabled quand loading du formulaire -->
    <div class="form-group">
        <label>Nom</label>
        <input class="form-control" name="name"
               [disabled]="loading"
               [(ngModel)]="task.name" required #nameInput="ngModel">
        <div class="invalid-feedback" *ngIf="nameInput.invalid">
            Le nom est obligatoire
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control"
                  [disabled]="loading"
                  name="description" [(ngModel)]="task.description"></textarea>
    </div>

    <button
            [disabled]="loading"
            class="btn btn-success mt-5">
        <span *ngIf="!loading">Enregistrer</span>
        <div class="spinner-border" *ngIf="loading"></div>
    </button>

</form>
