<div class="row" *ngIf="!loading">

    <!-- posts list with boostrap cards -->
    <div class="col-3" *ngFor="let post of filteredPosts">
        <div class="card border-primary text-dark bg-light h-100">
            <div class="card-header bg-primary text-white">Notes</div>
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{post.title}}
                </h5>
                <p class="card-text">
                    {{post.body}}
                </p>
            </div>
        </div>
    </div>

  <!-- bootstrap pagination  -->
    <ngb-pagination class="mt-5"
            [maxSize]="5"
            [(page)]="page"
            [pageSize]="nbNewsPerPage"
            [collectionSize]="posts.length"></ngb-pagination>
</div>

<div class="spinner-border" *ngIf="loading"></div>

