<!-- titre et bouton ajouter -->
<h2 class="mb-5 mt-5 text-center">
    Liste de projets
    <button class="btn btn-success float-right rounded-circle" routerLink="/task-add">
        <i class="fas fa-plus-circle"></i>
    </button>
</h2>


<h3>Projets à faire</h3>
<!--  appel du composant task-table -->
<app-task-table [tasks]="uncompletedTasks"
                [checkboxMode]="false"
                (completedClick)="updateTaskCompletion($event)"
                (descriptionClick)="displayDescription($event, modalDescription)">
</app-task-table>

<h3>Projets terminés</h3>
<app-task-table [tasks]="completedTasks"
                [checkboxMode]="true"
                (completedChange)="updateTaskCompletion($event, true)"
                (descriptionClick)="displayDescription($event, modalDescription)">
</app-task-table>

<!-- pop-up  Bootstrap-->
<ng-template #modalDescription let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détail</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <!-- affichage de la descrition de la tâche -->
        {{selectedDescription}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    </div>
</ng-template>
