<!-- titre et bouton ajouter -->
<h2>
    Liste des taches
    <button class="btn btn-primary float-right" routerLink="/task-add">
        <i class="fas fa-plus"></i>
    </button>
</h2>

<!-- barre de progression pour le loading
<ngb-progressbar type="info" [striped]="true" [animated]="true" *ngIf="loading" [value]="100"></ngb-progressbar>
-->

<h3>Taches non terminées</h3>
<!--  appel du composant task-table -->
<app-task-table [tasks]="uncompletedTasks"
                [checkboxMode]="false"
                (completedClick)="updateTaskCompletion($event)"
                (descriptionClick)="displayDescription($event, modalDescription)">
</app-task-table>

<h3>Taches terminées</h3>
<app-task-table [tasks]="completedTasks"
                [checkboxMode]="true"
                (completedChange)="updateTaskCompletion($event, true)"
                (descriptionClick)="displayDescription($event, modalDescription)">
</app-task-table>

<!-- pop-up  Bootstrap-->
<ng-template #modalDescription let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Description</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <!-- affichage de la descrition de la tâche -->
        {{selectedDescription}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    </div>
</ng-template>
